@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Odibee+Sans&display=swap");

.navBar-container {
  height: 40px;
  background: linear-gradient(to right, #e67e22, #e74c3c);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: #4f4f4f;
  padding: 1.2rem 4rem;
  border-bottom: 1.5px solid rgb(250, 142, 142);
}
.navBar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}
.navBar li {
  height: 100%;
  width: 20%;
  list-style: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.navBar li span {
  padding: 5px;
  font-size: 1.2rem;
  color: rgba(243, 240, 240, 0.938) !important;
  font-family: "Odibee Sans", cursive;
}
.navBar span:hover {
  font-size: 1.4rem;
}
.logo {
  width: 30%;
}
.logo span {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Odibee Sans", cursive;
  letter-spacing: 0.1rem;
  font-weight: 800;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .logo {
    width: 100%;
    margin-bottom: 0.2rem;
  }
  .logo span {
    font-size: 1.5rem;
  }
  .navBar-container {
    flex-direction: column;
    height: 80px;
    justify-content: center;
    margin: auto;
  }
  .navBar {
    width: 90%;
    margin: 0.2rem auto 0.2rem;
  }
}
