body {
  font-family: "Open Sans", serif;
  box-sizing: border-box;
}

.wrapper {
  background: linear-gradient(
    to right,
    hsla(27, 94%, 47%, 0.89),
    hsla(27, 62%, 52%, 0.767),
    hsla(32, 94%, 47%, 0.719),
    hsla(9, 93%, 32%, 0.815)
  );
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 80%;
  background: transparent;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 80vh;
  background: url("img/wallpapers.jpg") center center no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.78);
  padding: 1rem;
  border-radius: 0.5rem;
}

.title-container__title {
  letter-spacing: 3px;
  font-size: 50px;
  line-height: 1.3;
  font-family: "Roboto Slab", serif;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  width: 85%;
  margin: auto;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  background-color: rgba(0, 0, 0, 0.733);
  padding: 1rem;
  color: #f8f5f1;
  border-radius: 0.5rem;
}

.form-container {
  border-radius: 0.5rem;
  margin: 0px 0px 0px 5px;
  width: 50%;
  padding-top: 100px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  opacity: 0.9;
  background-image: url("./img/warm-bg.jpg");
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s ease-in;
}
.form-container.cold {
  background-image: url("./img/cold-bg.jpg");
  /* color: rgba(24, 11, 8, 0.794); */
}
.weather-form {
  width: 90%;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}
.weather-form select {
  border-radius: 0.4rem;
  padding: 0.2rem 0.3rem;
  border: 1px solid #e2490d !important;
  outline: none;
  /* color: #fff; */
}

.btn-submit {
  box-sizing: border-box;
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  border: none;
  overflow: hidden;
  background: #e24405;
  color: #f8f3ef;
  font-weight: 700;
  transition: all 0.7s ease-in-out;
}

.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus {
  outline: 0;
  background: #e06b27b9 !important;
  color: rgb(243, 233, 233) !important;
}

.table-wrapper {
  box-sizing: border-box;
  width: 90%;
  height: 80%;
  border: 0.61px solid #dd68089b;
  border-radius: 0 0 0.6rem 0.6rem;
  margin: 1rem auto;
  background-color: rgba(0, 0, 0, 0.37);
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

/* Weather Search */
.location-box .location {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date,
.weather .date {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 0.5rem;

  padding: 0.8rem 1rem;

  color: #fff;
  font-size: 3rem;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-hide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  border-radius: 0.8rem;
  margin: 1.4rem auto;
  background-color: rgba(0, 0, 0, 0.18);
}

@media (max-width: 1230px) and (min-width: 900px) {
  .btn-submit {
    width: 90%;
    margin: 1rem auto 0rem;
    font-size: 0.75rem;
    letter-spacing: 0rem;
  }
  .title-container__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 899px) {
  .wrapper {
    height: 100vh;
    width: 100%;
  }
  .wrapper2 {
    height: 96%;
    text-align: center;
    align-content: center;
  }
  .wrapper2 p {
    font-size: 1rem;
  }
  .main {
    flex-direction: column;
    margin: 0.5rem auto;
    align-items: center;
    height: 90%;
  }
  .title-container {
    width: 99%;
    height: 50%;
    margin-bottom: 0.9rem;
  }
  .form-container {
    width: 99%;
    height: 50%;
  }
  .title-container__title {
    font-size: 1.2rem;
  }
  .btn-submit {
    width: 90%;
    margin: 0.5rem auto 0rem;
    /* margin: 0rem auto 0rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    padding: 0.3rem; */
  }
}

@media (max-with: 575px) and (min-width: 450px) {
  .btn-submit {
    width: 100%;
    font-size: 0.4rem;
    padding: 0;
    background-color: #a37664;
  }
}
